
Django==4.2.11
django-widget-tweaks==1.4.8
pytz==2020.1
sqlparse==0.3.1
gunicorn          # production WSGI server
whitenoise        # serve static files
psycopg2-binary   # PostgreSQL driver
dj-database-url   # parse DATABASE_URL env variable
setuptools        # fixes distutils error
wheel             # helps with building packages


